
{% extends 'base.html' %}

{% block title %}Buscar sentencia{% endblock %}

{% block restricted_content %}

<div class="container w-full px-4 py-8">
<input type="text" 
      placeholder="Términos a buscar..."
      class="input w-full h-12 px-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      name="query"
      aria-label="Búsqueda"
      hx-post="{{url_for('api_search')}}"
      hx-trigger="keyup[key=='Enter']"
      hx-target="#search-results"
      hx-include="[name='query']"
      hx-indicator="#loading-indicator">
</div>

<div id="loading-indicator" style="display:none;">
    <div class="flex justify-center items-center">
        <svg class="animate-spin h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
</div>

<ul class="list bg-base-100 rounded-box shadow-md retuls" id="search-results">
</ul>

{% endblock %}
